altair==4.2.2
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
base58==2.1.1
bkcharts==0.2
black==19.10b0
blinker==1.5
boto==2.49.0
brotlipy==0.7.0
cachetools==5.3.0
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.6
conda-verify==3.4.2
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
entrypoints==0.3
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.31
htmlmin==0.1.12
ImageHash==4.3.1
inflection==0.5.1
llvmlite==0.37.0
locket==0.2.1
markdown-it-py==2.2.0
mccabe==0.6.1
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multimethod==1.9.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
packaging==23.0
pandas-profiling==3.6.6
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
phik==0.12.3
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
protobuf==3.20.3
pyarrow==11.0.0
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.10.5
pydeck==0.8.0
Pygments==2.14.0
pyls-spyder==0.4.0
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
PyYAML==6.0
rich==13.3.2
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
semver==2.13.0
shap==0.41.0
simplegeneric==0.8.1
sip==4.19.13
sklearn==0.0.post1
slicer==0.0.7
smmap==5.0.0
Sphinx==4.2.0
streamlit==1.11.0
tables==3.6.1
tangled-up-in-unicode==0.2.0
TBB==0.2
terminado==0.9.4
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
visions==0.7.5
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xlwings==0.24.9
xlwt==1.3.0
ydata-profiling==4.0.0
zict==2.0.0
zope.event==4.5.0